.recent-post-item {
    display: flex;/*添加flex布局*/
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* 添加阴影效果 */
    width: 80%;
    margin-top: 5%;
    margin-left: 14.6%;
    /*margin-right: 15%;*/
    height: 13.8em;
    border-radius: 10px;
}
.post_cover.left {
    /*float: left;*/
    /*position: relative;*/
    width: 50%;/*左侧图片占50%的宽度*/
    /*padding-right: 10px;!*右侧留10px的空白*!*/
}
.post_cover.right {
    /*float: right;*/
    /*position: relative;*/
    width: 50%;/*右侧图片占50%的宽度*/
    /*margin-left: 500px;!*左侧留10px的空白*!*/
    /*margin-left: 292px;*/
}
.post-bg {
    width: 100%;  /* 调整宽度为容器的100% */
    height: 100%; /* 高度自动 */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out; /* 设置过渡效果 */
    overflow: hidden;
    /*max-height: 100%;*/
    /*max-width: 100%;*/
}
.post-bg:hover {
    transform: scale(1.1); /* 鼠标悬停时放大1.1倍 */
}
.recent-post-info {
    width: 50%;/*右侧占50%的宽度*/
    padding-left: 10px;/*左侧留10px的空白*/
    display: flex; /* 添加flex布局 */
    flex-direction: column;/*纵向排列*/
}
.topic, .content {
    flex: 1; /* 使topic和content平分空间 */
    align-items: center;/*垂直居中*/
    justify-content: center;/*水平居中*/

}
.topic-center{
    font-weight: bold; /* 使标题加粗 */
    font-size: 1.2em; /* 设置标题字体大小 */
    align-items: center;/*垂直居中*/
    justify-content: center;/*水平居中*/
    display: flex;/*添加flex布局*/
    margin-top: 50px;
    color:black;
}
.content-center{
    align-items: center;/*垂直居中*/
    justify-content: center;/*水平居中*/
    display: flex;/*添加flex布局*/
    /*margin-top: 100px;*/
}