/*#############################################*/
/*ul li {*/
/*    list-style: none;*/
/*}*/

/*li {*/
/*    text-align: center;*/
/*    letter-spacing: 10px;*/
/*    padding: 10px;*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    border-bottom: 1px dashed black;*/
/*}*/
/*#############################################*/
/*伪元素*/
li:hover {
    background-color: white;
    /*文字的背景颜色*/
    color: antiquewhite;
    /*鼠标移到文字上文字变颜色*/
    cursor: pointer;
    /*鼠标移到文字上鼠标变为手*/
}

#main {
    height: 1000px;
    width: 100%;
    /* background-color: aqua;*/
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#main-left {
    width: 20%;
    height: 100%;
    /* background-color: blue;*/
    border-right: 1px solid black;
    float: left;
    /*overflow: hidden;超过父元素设置的距离就隐藏*/
    overflow: scroll;

}

#main-right {
    width: 80%;
    height: 100%;
    /* background-color: darkgoldenrod;*/
    float: left;
    position: relative;
}

#footer {
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: white;
    /* clear: both; 清楚浮动*/
}

#footer a {
    line-height: 80px;
}