.show{
    width: 100vw;
    height: 100vh;
    background-color: red;
    /*margin-top: 84.2vh;*/
    background-image: url("../img/showbcg.jpg");
    background-size: cover;
}
#s{
    width: 120px;
    height: 200px;
    background-image: url(../img/s.png);
    float: left;
    margin-left: 60px;
    margin-top: 0px;
    opacity: 0;
    animation-fill-mode: both;

}

#t{
    width: 120px;
    height: 200px;
    background-image: url(../img/t.png);
    float: left;
    margin-left: 80px;
    margin-top: 300px;
    opacity: 0;
    animation:mymove2 2s;
    animation-fill-mode: both;
}
#k{
    width: 120px;
    height: 200px;
    background-image: url(../img/k.png) ;
    float: left;
    margin-left: 80px;
    margin-top: 0px;
    opacity: 0;
    animation:mymove 2s;
    animation-fill-mode: both;
}
#l{
    width: 120px;
    height: 200px;
    background-image: url(../img/l.png);
    float: left;
    margin-left: 80px;

    margin-top: 300px;
    opacity: 0;
    animation:mymove2 2s;
    animation-fill-mode: both;
}
.food1{
    width: 250px;
    height: 190px;
    float: right;
    margin-left: 900px;
    margin-top: -500px;
}
.food2{
    width: 300px;
    height: 190px;
    background-color: wheat;
    float: left;
    /*margin-top: -105px;*/
}
#guide2{
    width: 600px;
    height: 100px;
    background-color: rgb(173, 130, 130);
    float: left;
    margin-top: 50px;
    margin-left: 500px;
    opacity: 0;

}
@keyframes mymove{
    100%{
        transform:translateY(100px);
        opacity: 1;
    }
}
@keyframes mymove2{
    100%{
        transform:translateY(-100px);
        opacity: 1;
    }
}
@keyframes mymove3{
    100%{
        transform:translateY(100px);
        opacity: 1;
        }
}
@keyframes mymove_{
    100%{
        transform:translateY(-100px);
        opacity: 0;
        }
}
.i{
    transition: all 1s;
}
:hover.i{
    transform: scale(1.1);
}
.aaa{
    font-size: 30px;float: left;margin-top: 30px;margin-left: 30px;text-decoration: none;color: rgb(255, 255, 255);
    transition: all 0.5s;
}
:hover.aaa{
    transform: scale(1.1);
}
