@font-face {
  font-family: "iconfont"; /* Project id 4515760 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1714741701934') format('woff2'),
       url('iconfont.woff?t=1714741701934') format('woff'),
       url('iconfont.ttf?t=1714741701934') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-meishi_kaixinguo:before {
  content: "\e710";
}

.icon-meishi_li:before {
  content: "\e711";
}

.icon-meishi_hanbao:before {
  content: "\e712";
}

.icon-meishi_mangguo:before {
  content: "\e713";
}

.icon-meishi_niuyouguo:before {
  content: "\e714";
}

.icon-meishi_niunai:before {
  content: "\e715";
}

.icon-meishi_pisa:before {
  content: "\e716";
}

.icon-meishi_tiantianquan:before {
  content: "\e717";
}

.icon-meishi_tusi:before {
  content: "\e718";
}

.icon-meishi_zhenzi:before {
  content: "\e719";
}

.icon-meishi_yaoguo:before {
  content: "\e71a";
}

.icon-meishi_qiyiguo:before {
  content: "\e71b";
}

.icon-meishi7:before {
  content: "\e609";
}

.icon-meishi_manyuemei1:before {
  content: "\e606";
}

.icon-meishi-bingtanghulu:before {
  content: "\e607";
}

.icon-meishi_bingjiling1:before {
  content: "\e60a";
}

.icon-meishi-bangbangtang:before {
  content: "\e60b";
}

.icon-meishi-huotuichang:before {
  content: "\e60c";
}

.icon-meishi_qiyiguo1:before {
  content: "\e60d";
}

.icon-meishi8:before {
  content: "\e62b";
}

.icon-meishiicon:before {
  content: "\e62d";
}

.icon-meishi9:before {
  content: "\e7a2";
}

.icon-meishi-:before {
  content: "\e68c";
}

.icon-meishi-1:before {
  content: "\e68d";
}

.icon-meishi-2:before {
  content: "\e691";
}

.icon-meishi-3:before {
  content: "\e692";
}

.icon-meishi-4:before {
  content: "\e6a0";
}

.icon-meishi10:before {
  content: "\e602";
}

.icon-meishiditu:before {
  content: "\e60f";
}

.icon-meishi11:before {
  content: "\f82e";
}

.icon-a-caijinggui1xiaotubiao-02:before {
  content: "\e610";
}

.icon-meishi12:before {
  content: "\e61f";
}

.icon-meishi13:before {
  content: "\e603";
}

.icon-meishi14:before {
  content: "\10129";
}

.icon-a-20230816meishitubiao_huoguo-yuanyangguo:before {
  content: "\e611";
}

.icon-a-20230816meishitubiao_chayin-kafei:before {
  content: "\e614";
}

.icon-a-20230816meishitubiao_jiancan-shala:before {
  content: "\e615";
}

.icon-a-20230816meishitubiao_zizhucan:before {
  content: "\e617";
}

.icon-a-20230816meishitubiao_jiaozi-shuijiao:before {
  content: "\e61a";
}

.icon-a-20230816meishitubiao_huoguo-jiugongge:before {
  content: "\e61b";
}

.icon-a-20230816meishitubiao_chayin-naigai:before {
  content: "\e61c";
}

.icon-a-20230816meishitubiao_chayin-bingyin:before {
  content: "\e61d";
}

.icon-a-20230816meishitubiao_shaokao-kaochuan:before {
  content: "\e61e";
}

.icon-a-20230816meishitubiao_huoguo-tonghuoguo:before {
  content: "\e620";
}

.icon-a-20230816meishitubiao_jiancan-shousi2:before {
  content: "\e621";
}

.icon-a-20230816meishitubiao_zhongcan-dongporou:before {
  content: "\e622";
}

.icon-meishi15:before {
  content: "\e623";
}

.icon-a-20230816meishitubiao_zhongcan-jiuzhuandachang:before {
  content: "\e624";
}

.icon-a-20230816meishitubiao_zhongcan-longjingxiaren:before {
  content: "\e625";
}

.icon-a-20230816meishitubiao_xiaochi-zongzi:before {
  content: "\e626";
}

.icon-a-20230816meishitubiao_zhongcan-ganbiandoujiao:before {
  content: "\e627";
}

.icon-a-candybangbangtangmeishi:before {
  content: "\e628";
}

.icon-a-cakedangaomeishi:before {
  content: "\e629";
}

.icon-Donute:before {
  content: "\e809";
}

.icon-a-dangaomeishi:before {
  content: "\e82c";
}

.icon-a-kaojimeishi:before {
  content: "\e82e";
}

.icon-a-qiaokelitangmeishi:before {
  content: "\e82f";
}

.icon-meishi:before {
  content: "\e66d";
}

.icon-mbefengge-buding:before {
  content: "\e608";
}

.icon-mbefengge-niuba:before {
  content: "\e60e";
}

.icon-mbefengge-yidalimian:before {
  content: "\e612";
}

.icon-mbefengge_pijiu:before {
  content: "\e613";
}

.icon-mbefengge_caomeidangaoqiepian:before {
  content: "\e618";
}

.icon-mbefengge_bingqilin:before {
  content: "\e619";
}

.icon-meishi1:before {
  content: "\e62c";
}

.icon-tubiaozhizuomoban_meishi:before {
  content: "\e605";
}

.icon-meishi2:before {
  content: "\e693";
}

.icon-meishi-jiaxindangao:before {
  content: "\e66e";
}

.icon-meishi-shanzhu:before {
  content: "\e66f";
}

.icon-icon-test:before {
  content: "\e65a";
}

.icon-icon-test1:before {
  content: "\e65b";
}

.icon-meishi3:before {
  content: "\e643";
}

.icon-ziyuan:before {
  content: "\e69f";
}

.icon-meishi4:before {
  content: "\e63b";
}

.icon-meishi-copy:before {
  content: "\e616";
}

.icon-meishi5:before {
  content: "\e631";
}

.icon-meishi6:before {
  content: "\e604";
}

.icon-meishi_caomei:before {
  content: "\e70c";
}

.icon-meishi_chengzi:before {
  content: "\e70d";
}

.icon-meishi_bingjiling:before {
  content: "\e70e";
}

.icon-meishi_manyuemei:before {
  content: "\e70f";
}

.icon-zuoanniu:before {
  content: "\e600";
}

.icon-zuoanniu1:before {
  content: "\e601";
}

.icon-fenlei:before {
  content: "\100a7";
}

