.show{
    width: 98.66vw;
    height: 98.66vh;
    background-color: red;
    margin-top: 82.1vh;
    background-image: url("../img/showbcg.jpg");
    background-size: cover;
}
#s{
    width: 12vw;height: 40vh;
    float: left;
    margin-top: 0px;
    opacity: 0;
    animation-fill-mode: both;
    margin-left: 2%;
}

#t{
    width: 12vw;height: 40vh;
    float: left;
    margin-left: 3%;
    margin-top: 300px;
    opacity: 0;
    animation:mymove2 2s;
    animation-fill-mode: both;
}
#k{
    width: 12vw;height: 40vh;
    float: left;
    margin-left: 3%;
    margin-top: 0px;
    opacity: 0;
    animation:mymove 2s;
    animation-fill-mode: both;
}
#l{
    width: 12vw;height: 40vh;
    float: left;
    margin-left: 3%;

    margin-top: 300px;
    opacity: 0;
    animation:mymove2 2s;
    animation-fill-mode: both;
}
.food1{
    width: 220px;
    height: 10px;
    float: left;
    margin-left: 83%;
    margin-top: -45%;
}
.food2{
    width: 300px;
    height: 190px;
    background-color: wheat;
    float: left;
    margin-top: -12.9%;
}
#guide2{
    display: flex;
    align-items: center;
    width: 600px;
    height: 100px;
    /*background-color: rgb(189, 186, 186);*/
    float: left;
    margin-top: -10.8%;
    margin-left: 51.8vw;
    opacity: 0;

}

#guide2 img{
    height: 4em;
}

@keyframes mymove{
    100%{
        transform:translateY(100px);
        opacity: 1;
    }
}
@keyframes mymove2{
    100%{
        transform:translateY(-100px);
        opacity: 1;
    }
}
@keyframes mymove3{
    100%{
        transform:translateY(100px);
        opacity: 1;
        }
}
@keyframes mymove_{
    100%{
        transform:translateY(-100px);
        opacity: 0;
        }
}
.i{
    transition: all 1s;
}
:hover.i{
    transform: scale(1.1);
}
.aaa{
    /*font-size: 30px;*/
    font-size:2em;
    float: left;
    /*margin-top: 30px;*/
    margin-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    text-shadow: 2px 2px 2px black;
}
:hover.aaa{
    transform: scale(1.1);
}
